.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.animation_block {
  position: relative;
  margin: auto;
  text-align: center;
}

.main_heading, .main_heading_2 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.main_heading {
  color: transparent;
  -webkit-text-stroke: 2px #000000;
}

.main_heading_2 {
  position: absolute;
  top: 0px;
  color: #000000;
  animation: animate 7s ease-in-out infinite;
}

@keyframes animate {
  0%, 100% {
    clip-path: polygon( 0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon( 0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}