.soundboard-main {
    background: #1a1a1a;
    height: 300px;
    margin: 100px 100px 100px 100px;
}

.button-row{
  display: flex;
  /* justify-content: center; */
  flex-direction: row; 
  padding: 20px 20px 20px 20px;
}
.button-row.black {
    margin-left: 36px;
}
/* #__next > div > div.soundboard-main > div.button-row.white > div.basic-button-class */
.button-row.black > .basic-button-class{
    min-height: 80px;
  }
  .button-row.white > .basic-button-class{
    min-height: 140px;
  }
.basic-button-class{
  display: flex;
  color: #e100ff;
  border: 1.5px solid #e100ff;
  border-radius: 7px;  
  max-height: 80px;
  min-width: 60px;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}
.basic-button-class.blank {
    /* background: transparent; */
    border-color: transparent;
}
.basic-button-class.container {
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
}
.basic-button-class.container > div {
    margin-top: 39px;
}
/* .basic-button-class:hover{
    background-color: #8c4b9e;
    box-shadow: 0px 0px 5px #8c4b9e, 0px 0px 25px #8c4b9e, 0px 0px 50px #8c4b9e, 0px 0px 100px #8c4b9e;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
  } */
/* #8c4b9e */
.basic-button-class{
    display: flex;
    color: #e100ff;
    border: 1.5px solid #e100ff;
    border-radius: 7px;  
    max-height: 80px;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .basic-button-class:active{
      background-color: #8c4b9e;
      /* color: #050801; */
      box-shadow: 0px 0px 5px #8c4b9e, 0px 0px 25px #8c4b9e, 0px 0px 50px #8c4b9e, 0px 0px 100px #8c4b9e;
      -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
    }
    .button-row > div[key-pressed],
  .button-row > div:active {
    background-color: #8c4b9e;
    /* color: #050801; */
    box-shadow: 0px 0px 5px #8c4b9e, 0px 0px 25px #8c4b9e, 0px 0px 50px #8c4b9e, 0px 0px 100px #8c4b9e;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
  }